<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BM_PRO_SUBSCRIPTION_ID_01</key>
	<string>de.marcfechner.brainmesh.pro.monthly</string>
	<key>BM_PRO_SUBSCRIPTION_ID_02</key>
	<string>de.marcfechner.brainmesh.pro.yearly</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BrainMesh Graph Export</string>
			<key>UTTypeIdentifier</key>
			<string>de.marcfechner.brainmesh.graph</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bmgraph</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.brainmesh.graph+json</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BrainMesh Full Backup</string>
			<key>UTTypeIdentifier</key>
			<string>de.marcfechner.brainmesh.backup</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bmbackup</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.brainmesh.backup</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
